.app-layout {
  display: flex;
  height: 100vh;
  min-width: 920px;
}

.main-content {
  width: 80%;
  background-color: #f9f9f9;
  padding: 20px;
  overflow-y: auto;
}

.app-layout.login-layout {
  display: block;
}

.main-content.login-content {
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: transparent;
}

